div{
    width: 150px;
    height: 200px;
    border: 2px black solid;
    background-color: red;
    margin: 20px;
    
}
div:hover{
    transition-property: background-color,color;
    transition-duration: 4s;
    background-color: green;
    color: blue;
}
